## Creating a Comment

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

In [3]:
'''
mulitple
line
comment
'''
print("Hello, World!")

Hello, World!

## Creating Variables

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

you can check the type of a variable by command `type()`

Text Type: string (str)

In [9]:
name = "John"
family = 'Legend'

print(name)
print(family)
print(type(name))

John
Legend
<class 'str'>

Numeric Types:	int, float, complex

In [33]:
a = 2
b = 2.34
c = 5+3j
# or complex(5,3)

print(a , type(a))
print(b , type(b))
print(c , type(c))

2 <class 'int'>
2.34 <class 'float'>
(5+3j) <class 'complex'>

In [35]:
a = 35e3
b = 12E4
c = -87.7e100

print(a , type(a))
print(b , type(b))
print(c , type(c))

35000.0 <class 'float'>
120000.0 <class 'float'>
-8.77e+101 <class 'float'>

Binary Types: bytes, bytearray, memoryview

In [13]:
a = b"Hello"
b = bytearray(5)
c = memoryview(bytes(5))

print(a , type(a))
print(b , type(b))
print(c , type(c))

b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7ff891459dc0> <class 'memoryview'>

Sequence Types:	list, tuple, range

In [14]:
a = ["apple", "banana", "cherry"]
b = ("apple", "banana", "cherry")
c = range(6)

print(a , type(a))
print(b , type(b))
print(c , type(c))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>

Mapping Type:	dict

In [15]:
a = {"name" : "John", "age" : 36}

print(a , type(a))

{'name': 'John', 'age': 36} <class 'dict'>

Set Types:	set, frozenset

In [18]:
a = {"apple", "banana", "cherry", "cherry"}
b = frozenset({"apple", "banana", "cherry", "cherry"})

print(a , type(a))
print(b , type(b))

{'cherry', 'apple', 'banana'} <class 'set'>
frozenset({'cherry', 'apple', 'banana'}) <class 'frozenset'>

Note:
* repeated items just count one
* in sets we do not have prioirty
* set object is not subscriptable

In [22]:
a = {"apple", "banana", "cherry", "cherry"}
a[0]

TypeError: 'set' object is not subscriptable

None Type:	NoneType

In [24]:
a = None

print(a , type(a))

None <class 'NoneType'>

## Variable Names

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [27]:
#correct
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [28]:
#incorrect
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (268464814.py, line 2)

## Many Values to Multiple Variables

In [29]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

## One Value to Multiple Variables

In [30]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

## Unpack a Collection

In [31]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Casting

`int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

`float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

`str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [39]:
x = int(3)  
y = int(3.2)
z = int('3')

In [40]:
x = float(1)    
y = float(2.8)  
z = float("3")  
w = float("4.2")

In [5]:
x = str("s1")
y = str(2)   
z = str(3.0)
h = str(True) #"True"
g = str(None) #"None"

In [3]:
x = bool("s1") #True
y = bool(12) #True
z = bool(0) #False

In [8]:
int(None)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

## User Input
Python allows for user input.

That means we are able to ask the user for input.

Python `3.6` uses the `input()` method.

Python `2.7` uses the `raw_input()` method.

In [1]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:John
Username is: John