## Creating a Comment

In [ ]:
#This is a comment
print("Hello, World!")

In [ ]:
'''
mulitple
line
comment
'''
print("Hello, World!")

## Creating Variables

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

you can check the type of a variable by command `type()`

Text Type: string (str)

In [ ]:
name = "John"
family = 'Legend'

print(name)
print(family)
print(type(name))

Numeric Types:	int, float, complex

In [ ]:
a = 2
b = 2.34
c = 5+3j
# or complex(5,3)

print(a , type(a))
print(b , type(b))
print(c , type(c))

In [ ]:
a = 35e3
b = 12E4
c = -87.7e100

print(a , type(a))
print(b , type(b))
print(c , type(c))

Binary Types: bytes, bytearray, memoryview

In [ ]:
a = b"Hello"
b = bytearray(5)
c = memoryview(bytes(5))

print(a , type(a))
print(b , type(b))
print(c , type(c))

Sequence Types:	list, tuple, range

In [ ]:
a = ["apple", "banana", "cherry",]
b = ("apple", "banana", "cherry")
c = range(6)

print(a , type(a))
print(b , type(b))
print(c , type(c))

Mapping Type:	dict

In [ ]:
a = {"name" : "John", "age" : 36}

print(a , type(a))

Set Types:	set, frozenset

In [ ]:
a = {"apple", "banana", "cherry", "cherry"}
b = frozenset({"apple", "banana", "cherry", "cherry"})

print(a , type(a))
print(b , type(b))

Note:
* repeated items just count one
* in sets we do not have prioirty
* set object is not subscriptable

In [ ]:
a = {"apple", "banana", "cherry", "cherry"}
a[0]

None Type:	NoneType

In [ ]:
a = None

print(a , type(a))

## Variable Names

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#correct
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#incorrect
2myvar = "John"
my-var = "John"
my var = "John"

## Many Values to Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

## One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

## Unpack a Collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

## Casting

`int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

`float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

`str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(3)  
y = int(3.2)
z = int('3')

In [ ]:
x = float(1)    
y = float(2.8)  
z = float("3")  
w = float("4.2")

In [ ]:
x = str("s1")
y = str(2)   
z = str(3.0)
h = str(True) #"True"
g = str(None) #"None"

In [ ]:
x = bool("s1") #True
y = bool(12) #True
z = bool(0) #False

In [ ]:
int(None)

## User Input
Python allows for user input.

That means we are able to ask the user for input.

Python `3.6` uses the `input()` method.

Python `2.7` uses the `raw_input()` method.

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

In [ ]:
a = int(input())
print(a + 2)